@font-face {
  font-family: "WorkSansReg";
  src: url("WorkSans-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "WorkSansReg", sans-serif;
  color: white;
}

.homeButton {
  font-family: "WorkSans-SemiBold", sans-serif;
  color: white;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  background-color: #0076b7;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.homeButton:hover {
  scale: 105%;
}

body {
  background-color: #0f172a;

  height: 100dvh;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: "WorkSansReg", sans-serif;
  font-size: clamp(3rem, calc(7vw + 1rem), 4rem);
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.icon {
  background: black;
  color: white;

  border-radius: 50%;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;

  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 15px;
}

.card {
  width: 80px;
  min-width: 80px;
  height: 60vh;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;

  display: flex;
  align-items: flex-end;
  transition: all 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);

  background-position: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.card:hover,
.card.open {
  width: calc(80px + 40vw);
}

.card .description {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  visibility: hidden;
  height: 80px;
  width: 100%;
}

.card:hover .description,
.card.open .description {
  visibility: visible;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("./images/cameraMount.png");
}

.card[for="c2"] {
  background-image: url("./images/bustime.png");
}

.card[for="c3"] {
  background-image: url("./images/recycleCard.PNG");
}

.card[for="c4"] {
  background-image: url("./images/blinds.png");
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  .wrapper {
    margin-top: auto;
    width: 100%;
  }

  .card {
    width: 80%;
    height: 5em;
    min-height: 150px;

    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;

    display: flex;
    align-items: flex-end;

    transition: all 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.5);

    background-position: center;
  }
  .card.open {
    width: 90%;
  }

  .icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .row {
    margin-left: 0;
    margin: 0;
    padding-right: 5%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card .description {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
}
